/* Body styles */
body {
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	color: #444;
	background-color: #F4F4F4;
  }

  @media only screen and (max-width: 600px) {
	/* adjust font sizes */
	body {
	  font-size: 14px;
	}
	
	/* adjust layout */
	.container {
	  width: 100%;
	  padding: 10px;
	}
	
	/* adjust navigation menu */
	.menu {
	  display: none;
	}
	
	.menu-icon {
	  display: block;
	}
	
	.menu-icon:hover {
	  cursor: pointer;
	}
	
	.menu-dropdown {
	  display: none;
	}
	
	.menu-icon.active + .menu-dropdown {
	  display: block;
	}
  }
  
  
  /* Header styles */
  header {
	background-color: #3A3A3A;
	color: #FFF;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  header h1 {
	font-size: 36px;
	margin: 0;
  }
  
  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  nav li {
	margin: 0 10px;
  }
  
  nav a {
	color: #FFF;
	text-decoration: none;
  }
  
  nav a:hover {
	text-decoration: underline;
  }
  
  /* Main styles */
  main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
  }
  
  h2 {
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 20px;
  }
  
  p {
	margin-bottom: 20px;
  }
  
  ul {
	margin-left: 20px;
	margin-bottom: 20px;
  }
  
  li {
	margin-bottom: 10px;
  }
  
  /* Link styles */
  a {
	color: #0072C6;
	text-decoration: none;
  }
  
  a:hover {
	text-decoration: underline;
  }
  @media only screen and (max-width: 600px) {
	/* adjust font sizes */
	body {
	  font-size: 14px;
	}
	
	/* adjust layout */
	.container {
	  width: 100%;
	  padding: 10px;
	}
	
	/* adjust navigation menu */
	.menu {
	  display: none;
	}
	
	.menu-icon {
	  display: block;
	}
	
	.menu-icon:hover {
	  cursor: pointer;
	}
	
	.menu-dropdown {
	  display: none;
	}
	
	.menu-icon.active + .menu-dropdown {
	  display: block;
	}
  }
  
  /* Footer styles */
  footer {
	background-color: #3A3A3A;
	color: #FFF;
	padding: 20px;
	text-align: center;
  }
  
  footer p {
	margin: 0;
  }
  